.header {
  max-width: 80vw;
  margin: 0 auto;
  padding-top: 2vh;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header__img {
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.header__img:hover {
  transition: all 2ms ease;
  opacity: 0.6;
}

.header__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.header__link {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 1);
  transition: all ease-in 3ms;
}

.header__link:hover {
  transition: all ease-in 3ms;
  color:rgba(2, 228, 192, 1)
}

.header__btn {
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}

.header__btn:first-of-type {
  margin-right: 8px;
}

.header__btn:hover {
  transition: 3ms ease;
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  .header__link {
    font-size: 1rem;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .header__links {
    flex-direction: column;
  }
  .header__link {
    font-size: 14px;
  }
  .header__btn {
    font-size: 14px;
    padding: 5px 10px;
  }
}

