body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(24, 24, 24, 1);
  font-family: 'Ysabeau Infant', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #39363f;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 255, 0.849);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 255, 255, 0.836);
  border-radius: 12px;
}


